<h1>
  <%= @list.title %>
</h1>

<div class="alert alert-light alert-disclaimer" role="alert">
  All your tasks are readable and editable by anybody with the link
</div>

<ol>
  <% @list.tasks.each do |task| %>
    <li>
      <div class="task pb-3">
        <%= task.text %>
        <div class="task-controls">
          <%= link_to "Delete", list_task_path(@list, task), method: :delete, class: "link-danger small" %>
        </div>
      </div>
    </li>

  <% end %>
</ol>
