<h1>Remarkable app</h1>
<h2>How to use</h2>
<ol>
  <li>Add <a href="t.me/yet_another_remarkable_bot">RemarkableBot</a> to your telegram group</li>
  <li>Mention the bot when you send remarks or reply to any message and also mention the bot.</li>
  <li>Write the command <code>/link</code> to get the link with your tasks.</li>
  <li>Keep in mind, that all your tasks are readable and editable by anybody with the link</li>
</ol>
</ol>
