<h1 class="text-center mt-3 mb-1">Remarkable app</h1>

<div class="alert alert-light alert-disclaimer text-center p-0 mb-5" role="alert">
  Collect tasks from telegram groups
</div>

<h2 class="border-bottom pb-1 mb-3">How to use</h2>

<ol class="p-0">
  <li class="mb-2">Add <a href="https://t.me/yet_another_remarkable_bot">RemarkableBot</a> to your telegram group.</li>
  <li class="mb-2">Mention the bot when you send remarks or reply to any message and also mention the bot.</li>
  <li class="mb-2">The bot collects all remarks as tasks in one place.</li>
  <li class="mb-2">Write the command <code>/link</code> to get the link with your tasks.</li>
  <li class="mb-2">Keep in mind, that all your tasks are readable and editable by anybody with the link.</li>
</ol>
