<h1 class="text-center mt-3 mb-1">
  <%= @todolist.title %>
</h1>

<div class="alert alert-light alert-disclaimer text-center p-0 mb-5" role="alert">
  All your tasks are readable and editable by anybody with the link
</div>

<% @statuses.each do |status| %>
  <% if @grouped_todos[status] %>
    <div class="status__<%= status %> mb-5">
      <h2 class="border-bottom pb-1 mb-0">
        <%= status.titleize %>
      </h2>
      <ol class="p-0">
        <% @grouped_todos[status].each do |todo| %>
          <%= render "todos/list_todo", todo: todo %>
        <% end %>
      </ol>
    </div>
  <% end %>
<% end %>
